<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">

	  <link rel="stylesheet" href="{{ "/css/main_resume_cleaned.css" | prepend: site.baseurl }}">
  
		<!-- begin Publication Experiences -->
      <section class="content-section" style="margin-top:30px;">

        <header class="section-header">
          <h2>Publications (by Years)</h2>
        </header>

    <div class = "resume-item">
      <h4 class="resume-item-details">Book</h4>
        <ul class="resume-item-list">
          <li>
            <b>Jiaming Shen</b> and Jiawei Han. <a href="https://link.springer.com/book/10.1007/978-3-031-11405-2" target="_blank">Automated Taxonomy Discovery and Exploration</a>, In Springer Nature.
          </li>
        </ul>

      <h4 class="resume-item-details">Preprint</h4>
        <ul class="resume-item-list">
          <li>
            Yi Liang, You Wu, Honglei Zhuang, Li Chen, <b>Jiaming Shen</b>, Yiling Jia, Zhen Qin, Sumit Sanghai, Xuanhui Wang, Carl Yang, and Michael Bendersky. <a href="https://arxiv.org/pdf/2410.06203" target="_blank">Integrating Planning into Single-Turn Long-Form Text Generation</a>.
          </li>
        </ul>

      <h4 class="resume-item-details">2025</h4>
        <ul class="resume-item-list">
          <!-- Gemini 2.5 -->
          <li>
            Gemini Team. <a href="https://storage.googleapis.com/deepmind-media/gemini/gemini_v2_5_report.pdf" target="_blank">Gemini 2.5: Pushing the Frontier with Advanced Reasoning, Multimodality, Long Context, and Next Generation Agentic Capabilities</a>. 2025.
          </li>
          <!-- ICLR SSI-FM 2025 -->
          <li>
            <b>Jiaming Shen</b>, Ran Xu, Yennie Jun, Zhen Qin, Tianqi Liu, Carl Yang, Yi Liang, Simon Baumgartner, and Michael Bendersky. <a href="https://arxiv.org/pdf/2407.16008" target="_blank">RMBoost: Reward Model Training with Preference-Conditional Multi-Aspect Synthetic Data Generation</a>, In Proc. of Thirteenth International Conference on Learning Representations, Workshop of Scaling Self-Improving Foundation Models without Human Supervision (<b><i>ICLR SSI-FM</i> 2025</b>).
          </li>
          <!-- ICLR 2025 -->
          <li>
            Wei Xiong, Chengshuai Shi, <b>Jiaming Shen</b>, Aviv Rosenberg, Zhen Qin, Daniele Calandriello, Misha Khalman, Rishabh Joshi, Bilal Piot, Mohammad Saleh, Chi Jin, Tong Zhang, and Tianqi Liu. <a href="https://arxiv.org/pdf/2409.02392" target="_blank">Building Math Agents with Multi-Turn Iterative Preference Learning</a>, In Proc. of Thirteenth International Conference on Learning Representations (<b><i>ICLR</i> 2025</b>).
          </li>
          <li>
            Tianqi Liu, Wei Xiong, Jie Ren, Lichang Chen, Junru Wu, Rishabh Joshi, Yang Gao, <b>Jiaming Shen</b>, Zhen Qin, Tianhe Yu, Daniel Sohn, Anastasia Makarova, Jeremiah Zhe Liu, Yuan Liu, Bilal Piot, Abe Ittycheriah, Aviral Kumar, and Mohammad Saleh. <a href="https://arxiv.org/pdf/2409.13156" target="_blank">RRM: Robust Reward Model Training Mitigates Reward Hacking</a>, In Proc. of Thirteenth International Conference on Learning Representations (<b><i>ICLR</i> 2025</b>).
          </li>

          <!-- WebConf 2025 -->
          <li>
            Yunyi Zhang, Ruozhen Yang, Xueqiang Xu, Jinfeng Xiao, <b>Jiaming Shen</b>, and Jiawei Han. <a href="https://arxiv.org/pdf/2403.00165" target="_blank">TELEClass: Taxonomy Enrichment and LLM-Enhanced Hierarchical Text Classification with Minimal Supervision</a>, In Proc. of The Web Conference 2025 (<b><i>WebConf</i> 2025</b>).
          </li>

          <!-- NAACL 2025 -->
          <li>
            Tianqi Liu, Zhen Qin, Junru Wu, <b>Jiaming Shen</b>, Misha Khalman, Rishabh Joshi, Yao Zhao, Mohammad Saleh, Simon Baumgartner, Jialu Liu, Peter J Liu, and Xuanhui Wang. <a href="https://arxiv.org/pdf/2402.01878" target="_blank">LiPO: Listwise Preference Optimization through Learning-to-Rank</a>, In Proc. of The 2025 Annual Conference of the Nations of the Americas Chapter of the Association for Computational Linguistics (<b><i>NAACL</i> 2025</b>).
          </li>

          <!-- SOSP 2025 -->
          <li>
            Yifan Yu, Yu Gan, Nikhil Sarda, Lillian Tsai, <b>Jiaming Shen</b>, Yanqi Zhou, Arvind Krishnamurthy, Fan Lai, Hank Levy, and David Culler. <a href="https://dl.acm.org/doi/abs/10.1145/3731569.3764829" target="_blank">IC-Cache: Efficient Large Language Model Serving via In-context Caching</a>, In Proc. of the ACM SIGOPS 31st Symposium on Operating Systems Principles (<b><i>SOSP</i> 2025</b>).
          </li>

        </ul>

      <h4 class="resume-item-details">2024</h4>
        <ul class="resume-item-list">
          <!-- EMNLP 2024 Finding-->
          <li>
            <b>Jiaming Shen</b>, Tianqi Liu, Jialu Liu, Zhen Qin, Jay Pavagadhi, Simon Baumgartner, and Michael Bendersky. <a href="https://www.arxiv.org/pdf/2407.15975" target="_blank">Multilingual Fine-Grained News Headline Hallucination Detection</a>, In Proc. of The Findings of 2024 Conference on Empirical Methods in Natural Language Processing (<b><i>EMNLP Findings</i> 2024</b>).
            [<a href="https://bit.ly/MFHHD-dataset" target="_blank">Dataset</a>]
          </li>

          <!-- CoLM 2024 -->
          <li>
            Zhen Qin, Junru Wu, <b>Jiaming Shen</b>, Tianqi Liu, and Xuanhui Wang. <a href="https://arxiv.org/pdf/2408.03359" target="_blank">LAMPO: Large Language Models as Preference Machines for Few-shot Ordinal Classification</a>, In Proc. of The first Conference on Language Modeling (<b><i>CoLM</i> 2024</b>).
          </li>

          <!-- ACL 2024 Finding -->
          <li>
            Rongzhi Zhang, <b>Jiaming Shen</b>, Tianqi Liu, Haorui Wang, Zhen Qin, Feng Han, Jialu Liu, Simon Baumgartner, Michael Bendersky, and Chao Zhang. <a href="https://arxiv.org/pdf/2406.02886" target="_blank">PLaD: Preference-based Large Language Model Distillation with Pseudo-Preference Pairs</a>, In Proc. of The Findings of 62nd Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2024 (Findings)</b>).
          </li>

          <!-- ACL 2024 Main -->
          <li>
            Yue Yu, <b>Jiaming Shen</b>, Tianqi Liu, Zhen Qin, Jing Nathan Yan, Jialu Liu, Chao Zhang, and Michael Bendersky. <a href="https://arxiv.org/pdf/2311.07099.pdf" target="_blank">Explanation-aware Soft Ensemble Empowers Large Language Model In-context Learning</a>, In Proc. of The 62nd Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2024</b>).
          </li>
          <li>
            Jing Nathan Yan, Tianqi Liu, Justin T Chiu, <b>Jiaming Shen</b>, Zhen Qin, Yue Yu, Yao Zhao, Charu Lakshmanan, Yair Kurzion, Alexander M Rush, Jialu Liu, and Michael Bendersky. <a href="https://arxiv.org/pdf/2311.08390.pdf" target="_blank">Predicting Text Preference Via Structured Comparative Reasoning</a>, In Proc. of The 62nd Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2024</b>).
          </li>

          <!-- KDD 2024 PKD Loss -->
          <li>
            Rongzhi Zhang, <b>Jiaming Shen</b>, Tianqi Liu, Jialu Liu, Michael Bendersky, Marc Najork, and Chao Zhang. <a href="https://arxiv.org/pdf/2305.05010.pdf" target="_blank">Knowledge Distillation with Perturbed Loss: From a Vanilla Teacher to a Proxy Teacher</a>, In Proc. of The 30th SIGKDD Conference on Knowledge Discovery and Data Mining - Research Track (<b><i>KDD</i> 2024</b>).
          </li>

          <!-- NAACL 2024 PRP -->
          <li>
            Zhen Qin, Rolf Jagerman, Kai Hui, Honglei Zhuang, Junru Wu, Le Yan, <b>Jiaming Shen</b>, Tianqi Liu, Jialu Liu, Donald Metzler, Xuanhui Wang, and Michael Bendersky. <a href="https://arxiv.org/pdf/2306.17563.pdf" target="_blank">Large Language Models are Effective Text Rankers with Pairwise Ranking Prompting</a>, In Proc. of The 2024 Annual Conference of the North American Chapter of the Association for Computational Linguistics (<b><i>NAACL</i> 2024</b>).
          </li>
        </ul>


      <h4 class="resume-item-details">2023</h4>
        <ul class="resume-item-list">
          <!-- WWW 2023 ExHalder-->
          <li>
            <b>Jiaming Shen</b>, Jialu Liu, Dan Finnie, Negar Rahmati, Michael Bendersky, and Marc Najork. <a href="https://arxiv.org/abs/2302.05852" target="_blank">"Why is this misleading?": Detecting News Headline Hallucinations with Explanations</a>, In Proc. of The ACM 2023 Web Conference (<b><i>WWW</i> 2023</b>).
            [<a href="https://github.com/rz-zhang/ExHalder" target="_blank">Dataset</a>]
            [<a href="https://bit.ly/www23-exhalder-slides" target="_blank">Slides</a>]
          </li>
          <!-- WWW 2023 Event Chain Mining-->
          <li>
            Yizhu Jiao, Ming Zhong, <b>Jiaming Shen</b>, Yunyi Zhang, Chao Zhang, and Jiawei Han. <a href="https://dl.acm.org/doi/abs/10.1145/3543507.3583295" target="_blank">Unsupervised Event Chain Mining from Multiple Documents</a>, In Proc. of The ACM 2023 Web Conference (<b><i>WWW</i> 2023</b>).
          </li>
          <!-- SIGIR 2023-->
          <li>
            Jiaying Lu, <b>Jiaming Shen</b>, Bo Xiong, Wenjing Ma, Steffen Staab, and Carl Yang. <a href="https://arxiv.org/pdf/2304.05973.pdf" target="_blank">HiPrompt: Few-Shot Biomedical Knowledge Fusion via Hierarchy-Oriented Prompting</a>, In Proc. of The 46th International ACM SIGIR Conference on Research and Development in Information Retrieval (<b><i>SIGIR</i> 2023</b>).
          </li>
          <!-- ACL 2023-->
          <li>
            Boshi Wang, Sewon Min, Xiang Deng, <b>Jiaming Shen</b>, You Wu, Luke Zettlemoyer, and Huan Sun. <a href="https://arxiv.org/pdf/2212.10001.pdf" target="_blank">Towards Understanding Chain-of-Thought Prompting: An Empirical Study of What Matters</a>, In Proc. of The 61st Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2023</b>).
            [<a href="https://openreview.net/pdf?id=L9UMeoeU2i" target="_blank">ICLR (ME-FoMo Workshop) Version</a>]
            [<a href="https://github.com/sunlab-osu/Understanding-CoT" target="_blank">Code</a>]
          </li>
          <li>
            Yue Yu, Rongzhi Zhang, Ran Xu, Jieyu Zhang, <b>Jiaming Shen</b>, and Chao Zhang. <a href="https://arxiv.org/pdf/2209.06995.pdf" target="_blank">Cold-Start Data Selection for Better Few-shot Language Model Fine-tuning: A Prompt-Based Uncertainty Propagation Approach</a>, In Proc. of The 61st Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2023</b>).
            [<a href="https://github.com/yueyu1030/Patron" target="_blank">Code</a>]
          </li>
          <li>
            Yue Yu, Yuchen Zhuang, Rongzhi Zhang, Yu Meng, <b>Jiaming Shen</b>, and Chao Zhang. <a href="https://arxiv.org/pdf/2305.10703.pdf" target="_blank">ReGen: Zero-Shot Text Classification via Training Data Generation with Progressive Dense Retrieval</a>, In Proc. of The Findings of the 61st Annual Meeting of the Association for Computational Linguistics (<b><i>ACL Findings</i> 2023</b>).
            [<a href="https://github.com/yueyu1030/ReGen" target="_blank">Code and Dataset</a>]
          </li>
          <!-- KDD 2023-->
          <li>
            Yunan Zhang, Le Yan, Zhen Qin, Honglei Zhuang, <b>Jiaming Shen</b>, Xuanhui Wang, Michael Bendersky, and Marc Najork. <a href="https://arxiv.org/pdf/2212.13937.pdf" target="_blank">Towards Disentangling Relevance and Bias in Unbiased Learning to Rank</a>, In Proc. of 29th ACM SIGKDD Int. Conf. on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2023</b>).
          </li>
          <li>
            Rongzhi Zhang, Yue Yu, <b>Jiaming Shen</b>, Xiquan Cui, and Chao Zhang. <a href="https://arxiv.org/pdf/2306.02859.pdf" target="_blank">Local Boosting for Weakly-Supervised Learning</a>, In Proc. of 29th ACM SIGKDD Int. Conf. on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2023</b>).
          </li>
          <!-- ECMLPKDD 2023-->
          <li>
            Sizhe Zhou, Suyu Ge, <b>Jiaming Shen</b>, and Jiawei Han. <a href="https://link.springer.com/chapter/10.1007/978-3-031-43421-1_2" target="_blank">Corpus-Based Relation Extraction by Identifying and Refining Relation Patterns</a>, In Proc. of The 2023 European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (<b><i>ECMLPKDD</i> 2023</b>).
          </li>
          <!-- NeurIPS 2023-->
          <li>
            Yue Yu, Yuchen Zhuang, Jieyu Zhang, Yu Meng, Alexander Ratner, Ranjay Krishna, <b>Jiaming Shen</b>, and Chao Zhang. <a href="https://arxiv.org/pdf/2306.15895.pdf" target="_blank">Large Language Model as Attributed Training Data Genera- tor: A Tale of Diversity and Bias</a>, In Proc. of The 37th Conference on Neural Information Processing Systems (<b><i>NeurIPS</i> 2023</b>).
          </li>
        </ul>

      <h4 class="resume-item-details">2022</h4>
        <ul class="resume-item-list">
          <!-- EMNLP 2022 Topic Taxonomy Expansion-->
          <li>
            Dongha Lee, <b>Jiaming Shen</b>, Seonghyeon Lee, Susik Yoon, Hwanjo Yu, and Jiawei Han. <a href="" target="_blank">Topic Taxonomy Expansion via Hierarchy-Aware Topic Phrase Generation</a>, In Proc. of The Findings of the 2022 Conference on Empirical Methods in Natural Language Processing (<b><i>EMNLP Findings</i> 2022</b>).
          </li>

          <!-- KDD Key Event Discovery-->
          <li>
            Yunyi Zhang, Fang Guo, <b>Jiaming Shen</b>, and Jiawei Han. <a href="https://arxiv.org/pdf/2206.04153.pdf" target="_blank">Unsupervised Key Event Detection from Massive Text Corpus</a>, In Proc. of 2022 ACM SIGKDD Int. Conf. on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2022</b>).
            [<a href="https://github.com/yzhan238/EvMine" target="_blank">Code</a>]
          </li>

          <!-- ACL EIDER -->
          <li>
            Yiqing Xie, <b>Jiaming Shen</b>, Sha Li, Yuning Mao, and Jiawei Han. <a href="https://arxiv.org/pdf/2106.08657.pdf" target="_blank">EIDER: Empowering Document-level Relation Extraction with Efficient Evidence Extraction and Inference-stage Fusion</a>, In Proc. of The Findings of the 60th Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2022 (Findings)</b>).
            [<a href="https://github.com/Veronicium/Eider" target="_blank">Code</a>]
          </li>

          <!-- ACL UNPARSE -->
          <li>
            Xiaotao Gu, Yikang Shen, <b>Jiaming Shen</b>, Jingbo Shang, and Jiawei Han. <a href="https://aclanthology.org/2022.acl-long.444.pdf" target="_blank">Phrase-aware Unsupervised Constituency Parsing</a>, In Proc. of the 60th Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2022</b>).
          </li>

          <!-- WWW TaxoCom -->
          <li>
            Dongha Lee, <b>Jiaming Shen</b>, SeongKu Kang, Susik Yoon, Jiawei Han, and Hwanjo Yu. <a href="https://arxiv.org/pdf/2201.06771.pdf" target="_blank">TaxoCom: Topic Taxonomy Completion with Hierarchical Discovery of Novel Topic Clusters</a>, In The 33rd International Conference in the Web (<b><i>WWW</i> 2022</b>).
            [<a href="https://github.com/donalee/taxocom" target="_blank">Code</a>]
          </li>
        </ul>

      <h4 class="resume-item-details">2021</h4>
        <ul class="resume-item-list">
          <!-- EMNLP ETypeClus -->
          <li>
            <b>Jiaming Shen</b>, Yunyi Zhang, Heng Ji, and Jiawei Han. <a href="https://arxiv.org/pdf/2109.03322.pdf" target="_blank">Corpus-based Open-Domain Event Type Induction</a>, In Proc. of The 2021 Conference on Empirical Methods in Natural Language Processing (<b><i>EMNLP</i> 2021</b>).
            [<a href="https://github.com/jmshen1994/ETypeClus" target="_blank">Code</a>]
            [<a href="https://drive.google.com/drive/folders/1-oqDLwlt94dFqAYDh6hhIbjt852_qCm7?usp=sharing" target="_blank">Data</a>]
          </li>

          <!-- ACL Finding TEAMS -->
          <li>
            <b>Jiaming Shen</b>, Jialu Liu, Tianqi Liu, Cong Yu, and Jiawei Han. <a href="https://arxiv.org/pdf/2106.00139.pdf" target="_blank">Training ELECTRA Augmented with Multi-word Selection</a>, In Proc. of The Findings of the 59th Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2021 (Findings)</b>).
            [<a href="https://bit.ly/acl21-teams-code" target="_blank">Code</a>]
          </li>

          <!-- NAACL TaxoClass -->
          <li>
            <b>Jiaming Shen</b>, Wenda Qiu, Yu Meng, Jingbo Shang, Xiang Ren, and Jiawei Han. <a href="https://www.aclweb.org/anthology/2021.naacl-main.335.pdf" target="_blank">TaxoClass: Hierarchical Multi-Label Text Classification Using Only Class Names</a>, In Proc. of The 2021 Annual Conference of the North American Chapter of the Association for Computational Linguistics (<b><i>NAACL</i> 2021</b>).
            [<a href="https://drive.google.com/drive/folders/18Eojz4hUTwmD2_WpNPlqHMzaiAadKqQ1?usp=sharing" target="_blank">Data</a>]
          </li>

          <!-- ICDM 2021 Tutorial -->
          <li>
            <b>Jiaming Shen</b>, Xiaotao Gu, Yu Meng, and Jiawei Han. <a href="\resources\icdm21_tutorial.pdf" target="_blank">Automated Taxonomy Discovery and Exploration</a>, In Proc. of The 2021 IEEE International Conference on Data Mining (<b><i>ICDM</i> 2021 Tutorial</b>).
            [<a href="https://drive.google.com/drive/folders/1e_wb0MWydNPSEtZGD6g8ZLM-5Q_OtQdh?usp=sharing" target="_blank">Slides</a>]
          </li>

          <!-- SSL@WWW TaxoOrder -->
          <li>
            Xiangchen Song, <b>Jiaming Shen</b>, Jieyu Zhang, and Jiawei Han. <a href="https://arxiv.org/pdf/2104.03682.pdf" target="_blank">Who Should Go First? A Self-Supervised Concept Sorting Model for Improving Taxonomy Expansion</a>, In 2021 WWW workshop on Self-Supervised Learning for the Web (<b><i>SSL@WWW</i> 2021</b>). 
          </li>

          <!-- AAAI TMN -->
          <li>
            Jieyu Zhang, Xiangchen Song, Ying Zeng, Jiaze Chen, <b>Jiaming Shen</b>, Yuning Mao, and Lei Li. <a href="https://arxiv.org/pdf/2101.01896.pdf" target="_blank">Taxonomy Completion via Triplet Matching Network</a>, In Proc. of The 35th AAAI Conference on Artificial Intelligence (<b><i>AAAI</i> 2021</b>).
            [<a href="https://github.com/JieyuZ2/TMN" target="_blank">Code</a>]
          </li>

        </ul>

      <h4 class="resume-item-details">2020</h4>
        <ul class="resume-item-list">
          <!-- EMNLP SynSetExpan -->
          <li>
            <b>Jiaming Shen*</b>, Wenda Qiu*, Jingbo Shang, Michelle Vanni, Xiang Ren, and Jiawei Han. <a href="https://arxiv.org/pdf/2009.13827.pdf" target="_blank">SynSetExpan: An Iterative Framework for Joint Entity Set Expansion and Synonym Discovery</a>, In Proc. of The 2020 Conference on Empirical Methods in Natural Language Processing (<b><i>EMNLP</i> 2020</b>).
            [<a href="https://drive.google.com/drive/folders/1-fwyU18vTuU7BCSof_kqjEQ_tUkKegTL?usp=sharing" target="_blank">Data</a>]
            [<a href="\resources\EMNLP2020_SynSetExpan_slides.pdf" target="_blank">Slide</a>]
          </li>
          <!-- EMNLP StegaText -->
          <li>
            <b>Jiaming Shen</b>, Heng Ji, and Jiawei Han. <a href="https://arxiv.org/pdf/2010.00677.pdf" target="_blank">Near-imperceptible Neural Linguistic Steganography via Self-Adjusting Arithmetic Coding</a>, In Proc. of The 2020 Conference on Empirical Methods in Natural Language Processing (<b><i>EMNLP</i> 2020</b>).
            [<a href="https://github.com/mickeystroller/StegaText" target="_blank">Code & Data</a>]
            [<a href="\resources\EMNLP2020_StegaText_slides.pdf" target="_blank">Slide</a>]
          </li>
          <!-- WWW 2020 TaxoExpan -->
          <li>
            <b>Jiaming Shen</b>, Zhihong Shen, Chenyan Xiong, Chi Wang, Kuansan Wang, and Jiawei Han. <a href="https://arxiv.org/abs/2001.09522">TaxoExpan: Self-supervised Taxonomy Expansion with Position-Enhanced Graph Neural Network</a>, In The 31st International Conference in the Web (<b><i>WWW</i> 2020</b>). 
            [<a href="https://github.com/mickeystroller/TaxoExpan" target="_blank">Code & Data</a>]
            [<a href="http://mickeystroller.github.io/2020/04/15/WWW20-TaxoExpan.html" target="_blank">Blog Post</a>]
            [<a href="https://www.youtube.com/watch?v=5N7cWigDrDw&t" target="_blank">Recorded Presentation</a>] 
          </li>      
          <!-- ACL 2020 CGExpan-->
          <li>
            Yunyi Zhang, <b>Jiaming Shen</b>, Jingbo Shang, and Jiawei Han. <a href="https://arxiv.org/abs/2004.13897" target="_blank">Empower Entity Set Expansion via Language Model Probing</a>, In The 58th Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2020</b>).
            [<a href="https://github.com/yzhan238/CGExpan" target="_blank">Code & Data</a>]
          </li>
          <!-- ICTIR 2020  -->
          <li>
            Dominic Seyler, <b>Jiaming Shen</b>, Jinfeng Xiao, Yiren Wang, and ChengXiang Zhai. <a href="http://publish.illinois.edu/dominic-seyler/files/2020/10/seyler-ictir-2020-leveraging.pdf" target="_blank">Leveraging Personalized Sentiment Lexicons for Sentiment Analysis</a>, In The 10th International Conference on the Theory of Information Retrieval (<b><i>ICTIR</i> 2020</b>).
          </li>
          <!-- KDD 2020 STEAM-->
          <li>
            Yue Yu, Yinghao Li, <b>Jiaming Shen</b>, Hao Feng, Jimeng Sun, and Chao Zhang. <a href="https://arxiv.org/pdf/2006.10217.pdf" target="_blank">STEAM: Self-Supervised Taxonomy Expansion with Mini-Paths</a>, In The 26th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2020</b>).
            [<a href="https://github.com/yueyu1030/STEAM" target="_blank">Code & Data</a>]
          </li>
          <!-- ECMLPKDD 2020 FUSE-->
          <li>
            Wanzheng Zhu, Hongyu Gong, <b>Jiaming Shen</b>, Chao Zhang, Jingbo Shang, Suma Bhat, and Jiawei Han. <a href="https://arxiv.org/abs/1910.04345" target="_blank">FUSE: Multi-faceted set expansion by coherent clustering of skip-grams</a>, In The 2020 European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (<b><i>ECMLPKDD</i> 2020</b>).
          </li>
          <!-- WWW 2020 SetCoExpan-->
          <li>
            Jiaxin Huang, Yiqing Xie, Yu Meng, <b>Jiaming Shen</b>, Yunyi Zhang, and Jiawei Han. <a href="https://arxiv.org/pdf/2001.10106.pdf" target="_blank">Guiding Corpus-based Set Expansion by Auxiliary Sets Generation and Co-Expansion</a>, In The 31st International Conference in the Web (<b><i>WWW</i> 2020</b>).
          </li>
        </ul>

      <h4 class="resume-item-details">2019</h4>
        <ul class="resume-item-list">
          <!-- AAAI 2019 SynSetMine -->
          <li> <b>Jiaming Shen</b>, Ruiliang Lyu, Xiang Ren, Michelle Vanni, Brian Sadler, and Jiawei Han. <a href="https://arxiv.org/pdf/1811.07032.pdf" target="_blank"> Mining Entity Synonyms with Efficient Neural Set Generation</a>, In The 33rd AAAI Conference on Artificial Intelligence (<b><i>AAAI</i> 2019</b>).
            [<a href="https://github.com/mickeystroller/SynSetMine-pytorch" target="_blank">Code</a>]
            [<a href="https://synsetmine.readthedocs.io/en/latest/?badge=latest#" target="_blank">Full Documentation</a>]
            [<a href="https://drive.google.com/drive/folders/1-fpBUaxmXeV-KV8hS1Q84-WnNcg2LvjS?usp=sharing" target="_blank">Data</a>]
            [<a href="\resources\AAAI2019_SynSetMine_slides.pdf" target="_blank">Slide</a>]
          </li>

          <!-- CIKM 2019  -->
          <li> 
            Yu Shi<sup>*</sup>, <b>Jiaming Shen<sup>*</sup></b>, Yuchen Li, Naijing Zhang, Xinwei He, Zhengzhi Lou, Qi Zhu, Matthew Walker, Myunghwan Kim, and Jiawei Han. <a href="https://arxiv.org/abs/1909.01584" target="_blank">Discovering Hypernymy in Text-Rich Heterogeneous Information Network by Exploiting Context Granularity</a>, In The 28th ACM International Conference on Information and Knowledge Management (<b><i>CIKM</i> 2019</b>).
            [<a href="https://github.com/ysyushi/HyperMine" target="_blank">Code</a>]
          </li>

          <!-- AAAI 2019 WeSHClass -->
          <li> Yu Meng, <b>Jiaming Shen</b>, Chao Zhang, and Jiawei Han. <a href="https://arxiv.org/abs/1812.11270" target="_blank"> Weakly-Supervised Hierarchical Text Classification</a>, In The 33rd AAAI Conference on Artificial Intelligence (<b><i>AAAI</i> 2019</b>).
            [<a href="https://github.com/yumeng5/WeSHClass" target="_blank">Code</a>]
            [<a href="\resources\AAAI2019_Yu_Meng_slides.pdf" target="_blank">Slide</a>]
          </li>

          <!-- KDD 2019  -->
          <li> 
            Jingbo Shang, <b>Jiaming Shen</b>, Liyuan Liu, and Jiawei Han. <a href="https://shangjingbo1226.github.io/2019-04-22-kdd-tutorial/" target="_blank"> Constructing and Mining Heterogeneous Information Networks from Massive Text</a>, In The 25th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2019 Tutorial</b>).
          </li>

          <!-- ACL 2019  -->
          <li> 
            Junyi Du, He Jiang, <b>Jiaming Shen</b>, and Xiang Ren. <a href="https://arxiv.org/abs/1906.11384" target="_blank"> Eliciting Knowledge from Experts: Automatic Transcript Parsing for Cognitive Task Analysis</a>, In The 57th Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2019</b>).
            [<a href="https://github.com/INK-USC/procedural-extraction" target="_blank">Code & Data</a>]
          </li>

        </ul>

      <h4 class="resume-item-details">2018</h4>
        <ul class="resume-item-list">
          <!-- CIKM 2018 QC-MTLNN -->
          <li><b>Jiaming Shen</b>, Maryam Karimzadehgan, Michael Bendersky, Zhen Qin, and Donald Metzler. <a href="https://arxiv.org/abs/1809.05618" target = "_blank">Multi-Task Learning for Personal Search Ranking with Auxiliary Query Clustering</a>, In The 27th ACM International Conference on Information and Knowledge Management (<b><i>CIKM</i> 2018</b>). 
          [<a href="https://github.com/yumeng5/WeSTClass" target="_blank">Code</a>]
          [<a href="\resources\CIKM18_MTL_slides.pdf" target="_blank">Slide</a>]
          </li>
          <!-- KDD 2018 HiExpan -->
          <li><b>Jiaming Shen</b>, Zeqiu Wu, Dongming Lei, Chao Zhang, Xiang Ren, Michelle T. Vanni, Brian M. Sadler, and Jiawei Han. <a href="http://hanj.cs.illinois.edu/pdf/kdd18_jshen.pdf" target="_blank">HiExpan: Task-Guided Taxonomy Construction by Hierarchical Tree Expansion</a>, In The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2018</b>).
          [<a href="https://github.com/mickeystroller/HiExpan" target="_blank">Code</a>]
          </li>
          <!-- SIGIR 2018 SetRank -->
          <li><b>Jiaming Shen</b>, Jinfeng Xiao, Xinwei He, Jingbo Shang, Saurabh Sinha, and Jiawei Han. <a href="https://arxiv.org/abs/1804.10877" target="_blank">Entity Set Search of Scientific Literature: An Unsupervised Ranking Approach</a>, In The 41st International ACM SIGIR Conference on Research and Development in Information Retrieval (<b><i>SIGIR</i> 2018</b>).
          [<a href="https://github.com/mickeystroller/SetRank" target="_blank">Code</a>]
          </li>
          <!-- KDD Demo 2018 SetSearch+ -->
          <li><b>Jiaming Shen</b>, Jinfeng Xiao, Yu Zhang, Carl Yang, Jingbo Shang, Jinda Han, Saurabh Sinha, Peipei Ping, Richard Weinshilboum, Zhiyong Lu and Jiawei Han, <a href="http://www.kdd.org/kdd2018/files/project-showcase/KDD18_paper_1815.pdf" target="_blank">SetSearch+: Entity-Set-Aware Search and Mining for Scientific Literature</a>, In The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2018 Demo Track</b>).
          [<a href="http://128.174.244.6:8080/" target="_blank">System</a>]
          </li>
          <!-- CIKM 2018 Weakly-supervsed Text Classification -->
          <li>Yu Meng, <b>Jiaming Shen</b>, Chao Zhang, and Jiawei Han. <a href="https://arxiv.org/abs/1809.01478" target="_blank">Weakly-Supervised Neural Text Classification</a>, In The 27th ACM International Conference on Information and Knowledge Management (<b><i>CIKM</i> 2018</b>).
          [<a href="https://github.com/yumeng5/WeSTClass" target="_blank">Code</a>]
          </li>
          <!-- CIKM 2018 Stance-aware Rumor News Detection -->
          <li>Jingbo Shang, <b>Jiaming Shen</b>, Tianhang Sun, Xingbang Liu, Anja Gruenheid, Flip Korn, Adam Lelkes, Cong Yu, and Jiawei Han. <a href="https://arxiv.org/pdf/1802.07398v2.pdf" target="_blank">Investigating Rumor News Using Agreement Aware Search</a>, In The 27th ACM International Conference on Information and Knowledge Management (<b><i>CIKM</i> 2018</b>).
          </li>
          <!-- KDD Demo 2018 FTS -->
          <li>Hanwen Zha, <b>Jiaming Shen</b>, Keqian Li, Warren Greiff, Michelle Vanni, Jiawei Han and Xifeng Yan, <a href="http://www.kdd.org/kdd2018/files/project-showcase/KDD18_paper_1813.pdf" target="_blank">FTS: Faceted Taxonomy Construction and Search for Scientific Publications</a>, In The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2018 Demo Track</b>).
          [<a href="http://fts.cs.ucsb.edu" target="_blank">System</a>]
          [<a href="https://drive.google.com/drive/folders/15eN8kU_jRfU6deWiUOwaVN3r2rz9yxjn?usp=sharing" target="_blank">Demo Video</a>]
          </li>
          <!-- KDD Demo 2018 AutoNet -->
          <li>Jingbo Shang, Qi Zhu, <b>Jiaming Shen</b>, Xuan Wang, Xiaotao Gu, Lance Kaplan, Timothy Harratty and Jiawei Han, <a href="http://www.kdd.org/kdd2018/files/project-showcase/KDD18_paper_1812.pdf" target="_blank">AutoNet: Automated Network Construction and Exploration System from Domain-Specific Corpora</a>, In The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<b><i>KDD</i> 2018 Demo Track</b>).
          </li>
          <!-- ACL 2018 Yuning-RL -->
          <li>Yuning Mao, Xiang Ren, <b>Jiaming Shen</b>, and Jiawei Han. <a href="https://arxiv.org/abs/1805.04044" target="_blank">End-to-End Reinforcement Learning for Automatic Taxonomy Induction</a>, In The 56th Annual Meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2018</b>). 
          [<a href="https://github.com/morningmoni/TaxoRL" target="_blank">Code</a>]
          </li>
          <!-- KDD Tutorial 2018 -->
          <li>Jingbo Shang, Chao Zhao, <b>Jiaming Shen</b>, and Jiawei Han. Towards Multidimensional Analysis of Text Corpora", In The 24th ACM SIGKDD International Conference on Knowledge (<b><i>KDD</i> 2018</b>).
          [<a href="https://shangjingbo1226.github.io/2018-04-21-kdd-tutorial/" target="_blank">Tutorial Website</a>]
          </li>
          <!-- KDD 2018 TaxoGen -->
          <li>Chao Zhang, Fangbo Tao, Xiusi Chen, <b>Jiaming Shen</b>, Meng Jiang, Brian M. Sadler, Michelle T. Vanni, and Jiawei Han. <a href="http://hanj.cs.illinois.edu/pdf/kdd18_czhang.pdf" target="_blank">TaxoGen: Constructing Topical Concept Taxonomy by Adaptive Term Embedding and Clustering</a>, In The 24th ACM SIGKDD International Conference on Knowledge (<b><i>KDD</i> 2018</b>).
          [<a href="https://github.com/franticnerd/taxogen" target="_blank">Code</a>]
          </li>
          <!-- Journal  -->
          <!-- <li>David A. Liem, Sanjana Murali, Dibakar Sigdel, Yu Shi, Xuan Wang, <b>Jiaming Shen</b>, Howard Choi, J Harry Caufield, Wei Wang, Peipei Ping, and Jiawei Han. "Phrase Mining of Textual Data to Analyze Extracellular Matrix Protein Patterns Across Cardiovascular Disease", In <i>American Journal of Physiology-Heart and Circulatory Physiology</i>.</li> -->
        </ul>

      <h4 class="resume-item-details">2017</h4>
        <ul class="resume-item-list">
          <!-- ECMLPKDD SetExpan -->
          <li><b>Jiaming Shen<sup>*</sup></b>, Zeqiu Wu<sup>*</sup>, Dongming Lei, Jingbo Shang, Xiang Ren, and Jiawei Han, <a href="\resources\ECMLPKDD2017.pdf" target="_blank">SetExpan: Corpus-Based Set Expansion via Context Feature Selection and Rank Ensemble</a>, In The European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (<b><i>ECMLPKDD</i> 2017</b>). 
          [<a href="https://github.com/mickeystroller/SetExpan" target="_blank">Code</a>]
          [<a href="https://drive.google.com/drive/folders/1-X4fJSQHgifl6WVkV0hGMurMA39fLZx8?usp=sharing" target="_blank">Data</a>]
          </li>
          <!-- ACL Demo LifeNet-->
          <li>Xiang Ren, <b>Jiaming Shen</b>, Meng Qu, Xuan Wang, Zeqiu Wu, Qi Zhu, Meng Jiang, Fangbo Tao, Saurabh Sinha, David Liem, Peipei Ping, Richard Weinshilboum, and Jiawei Han, <a href="\resources\ACL-Demo-2017.pdf" target="_blank">Life-iNet: A Structured Network-Based Knowledge Exploration and Analytics System for Life Sciences</a>, In The 55th annual meeting of the Association for Computational Linguistics (<b><i>ACL</i> 2017 System Demo</b>). 
          </li>
        </ul>

      <h4 class="resume-item-details">2016</h4>
        <ul class="resume-item-list">
        <!-- ICDM Workshop Junxian -->
        <li>Junxian He, Yin Huang, Changfeng Liu, <b>Jiaming Shen</b>, Yuting Jia, and Xinbing Wang, <a href="\resources\ICDM2016.pdf" target="_blank">Text network exploration via heterogeneous web of topics</a>, In The Sixth IEEE ICDM Workshop on Data Mining in Networks (<b><i>ICDM</i> 2016 Workshop</b>). </li>
        </ul>

			<h4 class="resume-item-details">2015</h4>
			<ul class="resume-item-list">
        <!-- AAAI Topical LDA -->
				<li><b>Jiaming Shen</b>, Zhenyu Song, Shitao Li, Zhaowei Tan, Yuning Mao, Luoyi Fu, Li Song, and Xinbing Wang, <a href="\resources\AAAI2016_SBD.pdf" target="_blank">Modeling Topic-level Academic Influence in Scientific Literatures</a>, In The Thirtieth AAAI Conference on Artificial Intelligence (<b><i>AAAI</i> 2016</b>) Workshop on Scholarly Big Data. 
        [<a href="\resources\AAAI2016_slides.pdf" target="_blank">Slide</a>]
        </li>
				<li><b>Jiaming Shen</b>, Zhaowei Tan, Luoyi Fu, and Xinbing Wang, <a href="\resources\CCCF2015.pdf" target="_blank">Trend Analysis of Top-tier Conferences in Computer Network Field</a>, In <b><i>Communications of the China Computer Federation</i>, 11(9), 62-66, 2015</b>. 
        </li>
				<li>Zhaowei Tan, Changfeng Liu, Yuning Mao, <b>Jiaming Shen</b>, Bin Wang, Luoyi Fu, Li Song, and Xinbing Wang, <a href="\resources\WWW2016.pdf" target="_blank">AceMap: A Novel Approach towards Displaying Relationship among Academic Literatures</a>, In The 25th International World Wide Web Conference (<b><i>WWW</i> 2016</b>). 
        [<a href="http://acemap.sjtu.edu.cn/" target="_blank">System</a>]
        </li>
			</ul>
		</div>

      </section>
      <!-- end Publication Experiences-->
      
      
 
	
<!-- 
      {% if site.resume_section_associations %}
      <!~~ begin Associations ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!~~ end Associations ~~>
      {% endif %}

      {% if site.resume_section_links %}
      <!~~ begin Links ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!~~ end Links ~~>
      {% endif %}
 -->


    </div>
	  {% include footer.html %}
	
		<!-- {% include disqus.html %} -->

    {% include ga.html %}
    

  </body>

</html>